body {
    margin: 0;
    padding: 0;
}

.grid > div { 
    background-color: rgb(231, 219, 219);
    border: solid 1px #999;
}

.grid {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 400px 400px 400px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: center;
}